@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen font-sans bg-gradient-to-br from-pink-50 via-pink-50 to-slate-50 text-slate-900 antialiased;
  }

  table {
    @apply w-full border-collapse;
  }

  th,
  td {
    @apply text-left py-3 px-3 border-b border-slate-200;
  }
}
